
 body{
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
 background-size: contain;
  background-color:hsl(224, 23%, 55%);
position: relative;
 }
 
 .card-content{
background-color:hsl(225, 100%, 98%);
margin-bottom: 10px;


 }
 .container{
  top: 50%;
  left: 25%;
  position: relative;
  
 }
.text a:hover{
  text-decoration: none;
  color: hsl(245, 75%, 52%);
}
.btn a:hover{
 background-color: hsl(223, 79%, 71%);
}
.cancle a:hover{
 color: hsl(223, 47%, 23%);

 }
 .cancle{
  text-align: center;
  text-decoration: none; color:  hsl(225, 29%, 62%);
 }
  